/*************************************************************
@Author: Jeffery Brown (daddyjab)
@Date: 5/14/19
@Page: style.css
**************************************************************/

body, html {
  height: 100%;
}

/*************************************************/
/* Background Image */
.bg {
  /* background-image: url("../images/JefferyBrown_Large.jpg"); */
  background-image: linear-gradient(to bottom right, navy, teal);
}

/*************************************************/
/* Navigation Bar */
.navbar {
  display:block;
  margin: 0px auto;
}

/* Navigation Bar Command List items */
.navbar li {
  /* Cause list items to display horizontally (vs veritically) */
  display:inline-block;
  font-size:15px;
  text-align:center;
  vertical-align:middle;
  color: darkslategrey;
  font-weight:600;
  /* height:20px; */
  padding:5px;
  margin:25px 2px 2px 2px;
  background-color: lightgrey;
  border-radius: 10%;
}

/* Navigation Bar => Hyperlinks */
.navbar li a {
  /* Turn off default underline and color on hyperlinks */
  text-decoration:none;
  /* Set color to match other menu items */
  color: black;
}

/* Navigation Bar => Plot drop-down select */
.navbar li select {
  /* Align the default text in the drop-down "Plot" to the right */
  text-align-last: right;
  /* Turn off default border around drop-down list */
  border:0px;
}

/* Navigation Bar => Plot drop-down select options */
.navbar li select option {
  color:black;
}

/*************************************************/
/* Introduction Content  */
.jeff_info {
  display: inline-block;
  background-color:lightgrey;
  padding: 10px;
  margin: 5px auto;
  text-align: left;
  color: black;
  border-radius: 5%;

  background-image: linear-gradient(to bottom right, lightblue, lightgrey);
}

.jeff_info img {
  float: left;
  padding: 0 10px 0 10px;
}

.jeff_info h5 {
  font-size: 22px;
  font-weight:700;
}

/*************************************************/
/* Technology Used */
.tech_used {
  display: inline-block;
  background-color:lightgrey;
  padding: 10px;
  margin: 5px auto;
  text-align: left;
  color: black;
  border-radius: 5%;

  background-image: linear-gradient(to bottom right, lightblue, lightgrey);
}

#tech_used_list {
  font-size: 18px;
  font-weight:700;
}

.tech_used_item:hover {
  font-weight:800;
  color:blue;
}

/*************************************************/
/* Project Content  */
.project_info {
  display:inline-table;
  background-color:lightgrey;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5%;

  background-image: linear-gradient(to bottom right, lightblue, lightgrey);
}

#project_info_table {
  text-align:left;
  font-size:15px;
  vertical-align:top;
  color: black;
  font-weight:600;
}

#project_info_table th {
  font-size:17px;
  vertical-align:bottom;
  color: black;
  font-weight:700;
}

.project_name {
  color: darkblue;
  font-size:18px;
  font-weight:700;
}

.project_name_highlight {
  font-weight:800;
  color: blue;
}

.project_link_highlight {
  font-weight:800;
  color: blue;
}

.project_tech_term_highlight {
  font-weight:800;
  color: blue;
}

