/*************************************************************
@Author: Jeffery Brown (daddyjab)
@Date: 5/14/19
@Page: style.css
**************************************************************/

/*************************************************/
/* Navigation Bar */
.navbar {
  display:block;
  margin: 0px auto;
}

/* Navigation Bar Command List items */
.navbar li {
  /* Cause list items to display horizontally (vs veritically) */
  display:inline-block;
  font-size:15px;
  text-align:center;
  vertical-align:middle;
  color: darkslategrey;
  font-weight:600;
  height:20px;
  padding:2px;
  margin:25px 2px 2px 2px;
}

/* Navigation Bar => Hyperlinks */
.navbar li a {
  /* Turn off default underline and color on hyperlinks */
  text-decoration:none;
  /* Set color to match other menu items */
  color: black;
}

/* Navigation Bar => Plot drop-down select */
.navbar li select {
  /* Align the default text in the drop-down "Plot" to the right */
  text-align-last: right;
  /* Turn off default border around drop-down list */
  border:0px;
}

/* Navigation Bar => Plot drop-down select options */
.navbar li select option {
  color:black;
}

/* Header for the page */
.header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  color:white;

  background-color: #4AAAA5;
  text-align: center;
  font-weight: 600;
  padding: 20px 0px 20px 0px;
  margin: 0px;
}

/*************************************************/
/* Introduction Content  */
.jeff_info {
  display:block;
  background-color:lightgrey;
  padding: 10;
  margin: 0 auto;
  text-align:left;
  vertical-align:top;
  color: black;
}

.jeff_info p {
  font-size:20px;
  font-weight:800;
}

/*************************************************/
/* Project Content  */
.project_info {
  display:block;
  background-color:lightgrey;
  padding: 10;
  margin: 0 auto;
}

.project_info table {
  text-align:left;
  font-size:15px;
  vertical-align:top;
  color: black;
  font-weight:600;
}

.project_info table th {
  text-align:left;
  font-size:17px;
  vertical-align:top;
  color: black;
  font-weight:800;
}
